extends layout

block content
  nav(class='navbar navbar-inverse navbar-static-top')
    div(class='container')
      div(class='navbar-header')
        button( type='button',
                class='navbar-toggle collapsed',
                data-toggle='collapse',
                data-target='#navbar',
                aria-expanded='false',
                aria-controls='navbar')
                  span(class='sr-only') Toggle Navigation
                  span(class='icon-bar')
                  span(class='icon-bar')
                  span(class='icon-bar')
       a(class='navbar-brand' hred='#') #{title}
      div(id='navbar', class='navbar-collapse collapse')
        ul(class='nav navbar-nav')
          li
            a(href='/') Home
          li(class='active')
            a(href='#') Status

        ul(class='nav navbar-nav navbar-right')
          li
            a(href='/about') About

  div(class='container')
        div(class='row')
          div(class='col-md-4')
          div(class='col-md-4')
                center
                  h1 Check server status
                table(class='table table-condensed')
                  thead
                    th Service
                    th Status

                  tbody
                    if database == 1
                      tr(class='success')
                        td Database
                        td Working
                    else
                      tr(class='danger')
                        td Database
                        td Something went wrong

                    if storage == 1
                      tr(class='success')
                        td Storage
                        td Working
                    else
                      tr(class='danger')
                        td Storage
                        td Something went wrong
